SECRET_KEY=your-secret-key
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:password@127.0.0.1:3306/erp
JWT_SECRET_KEY=your-jwt-secret
MONGO_URI=mongodb://localhost:27017/erp?serverSelectionTimeoutMS=2000&connectTimeoutMS=2000
